/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
wwwsakilav2.rar
wwwsakilav2.sublime-project
wwwsakilav2.sublime-workspace
/database/migrations/2014_10_12_000000_create_users_table.php
/database/migrations/2014_10_12_100000_create_password_resets_table.php
/resources/views/_copia
